@import "../../node_modules/font-awesome/css/font-awesome.min.css";


:root{
    --color-principal: blue;
}

*,
*::before, *::after,
*:after, *:before{
    box-sizing: border-box;
}

h1,h2 {
    color: blue;
}
h1{
    font-weight: bold;
}

.verde {
    color:green;
}

.grande {
    font-size: 3vW;
}

p{
    color:darkmagenta;
}

.rojo{
    color:red;
}

h1.enorme{
    font-size: 7vw;
}/*0 0 1 1*/ 
/*Mayor que .enorme ya que .enorme tendría 0 0 1 0 
por lo que h1.enorme es más específico*/

/*
    a - inline
    b - IDs
    c - atributos (CLASS) y pseudoclases
    d - elementos (tags)
*/

header>p{
    color: crimson;
} /*a b c d*/ /*0 0 0 2*/ /*Determinada la especificidad de la regla - dos elementos tag*/

p[lang="es"]{
    cursor: pointer;
}

p[lang="es"]:hover span{
    color: rgb(0, 255, 55);
}

p[lang="en"]::first-letter{
    font-style: italic;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
}

ul::before{
    content: "Aqui empieza una lista";
    color: green;
}

ul::after{
    content: "Aqui termina una lista";
    color:red;
}

p:nth-child(2){
    color: goldenrod;
}

body>p:nth-of-type(1){
    color:blue;
}

p~p{
    font-weight: bold;
}

li:nth-child(even){
    color: blueviolet;
}

li:nth-child(odd){
    color: yellowgreen;
}

