*,
*::before, *::after,
*:after, *:before{
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 2rem auto;
}

div{
    width: 60%;
}

.rojo{
    color: maroon;
    font-weight: bold;
}